@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: url("../public/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}